:root {
  --bg: #000000;
  --bg-card: #0E1218;
  --text: #F1F1F1;
  --img-profile: #8257e5;
  --buttons: #FFF;
  --border-button: #1A1A1A;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* font-size 1em = 10px */
}

body {
  background-color: var(--bg-card);
  color: var(--text);
  font-family: 'Prompt', sans-serif;
  font-size: 1.6rem;
  height: 100vh;

  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 95vh;
  gap: 2%;
  justify-content: center;
  align-content: center;
}

.col-left h1 {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  padding-bottom: 0.5rem;
}

#card-background {
  margin: 0 auto;
  width: 70%;
  height: 90%;
  min-width: 33.8rem;
  border-radius: 2rem;
  background-color: var(--bg);

  display: flex;
  justify-content: center;
  align-items: center;
}

#card {
  position: relative;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 2rem;
  background-color: var(--bg-card);
}

#header-card {
  padding: 2rem 0 0 2rem;

  display: flex;
  align-items: center;
}

.logo {
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50%;
  border: 0.1rem solid var(--text);
  margin: 8px;
}

#nameUser {
  display: inline;
  font-size: 2rem;
  font-weight: 400;
  padding-left: 1rem;
}

#img-profile {
  position: absolute;
  top: 7.4rem;
  left: 7.6rem;
  

  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  border: 0.8rem solid var(--img-profile);
}

#info-card {
  position: absolute;
  left: 2rem;
  top: 50%;

  width: 16.4rem;
  height: 16.4rem;
  background: linear-gradient(180deg, var(--bg) 3.65%, rgba(70, 69, 69, 0.72) 53.65%, rgba(62, 56, 56, 0.42) 100%);
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.info {
  display: inline;
}

#footer-card {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}

#footer-card img {
  width: 3.4rem;
  height: 3.4rem;
  vertical-align: top;
}

#footer-card p {
  display: inline;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
}